.menu-container {
  border-radius: 20px;
  background-color: #f0f0f0;
  align-items: start;
  width: 300;
}

.menu-container {
  margin: 16px;
}

.menu-bar .nav-link {
  text-align: center;
}

.menu-selected.app-home {
  color: blueviolet;
}

.menu-selected.youtube {
  color: #ff0000;
}

.menu-selected.soundcloud {
  color: #ff5500;
}

.menu-selected.info {
  color: lime;
}

.menu-selected.settings {
  color: blue;
}

.menu-selected.app-search {
  color: turquoise;
}
