.loginContainer {
  height: inherit;
  width: inherit;
}

.aboutSection {
  margin: 0;
  padding: 0;
  height: inherit;
  background-image: url('../../public/img/login-youtube.jpg');
  background-size: 1000px;
  background-position: center center;
}

.loginSection {
  background-color: #f0f0f0;
  color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm {
  width: 60%;
}
